* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: #b3d7f6;
    height: 100vh;
}

.container h1 {
    color: white;
    text-shadow: 1px 1px 0px black;
}

.timer {
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0px black;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: rgb(226, 245, 255);
    min-width: 90px;
}

.separator {
    padding: 0 10px;
    color: white;
}

#milliseconds {
    font-size: 30px;

}

.buttons {
    display: flex;
    gap: 1rem;

}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid rgb(129, 204, 254);
    transition: all .2s ease-in-out;
}

.btn:hover {
    font-size: 20px;
}

#btnStart {
    background-color: #5db3ff;
}

#btnPause, #btnResume {
    display: none;
}